# Week 1: Hello World

This is a guide for the Machine Learning Recipes with Josh Gordon available on [YouTube](https://www.youtube.com/playlist?list=PLOU2XLYxmsIIuiBfYad6rFYQU_jL2ryal)


We have covered the installation of the anaconda in Week 0. We also wrote the first machine learning code [hello_word.py](script/hello_world.py). One realization is that this course expect you to have the basic experience with python. I think the instructor has chosen python because of how easier it is to learn, its clear synthax and its growing audience expecially in the data science community. You will be surprise to learn how many financial analysts are using python !! If you are not yet comfortable with python, I recommend you reviews Chris Albon's short [tutorials](http://chrisalbon.com/#Python) again.

The first step we did in the hello world is to import the tree object from the scikit learn
```python
from sklearn import tree
```
The next step was to prepare the data. Each observation is a list of value of each of the features. For the case we had only the weight and texture. He called `features` the list of all the observations (which is a nexted list). Notice that all the elements of this list is a list of exactly two elements, weight and texture. The labels are in the same order as their corresponding explanatory variables. 
```python
features = [[140, 1], [130, 1], [150, 0], [170, 0]] # Bumpy = 0, Smooth = 1
labels = [0, 0, 1, 1] # Apple = 0, Orange = 1
```
The thirst step was to create and instance of decision tree from the tree object. 
```python
clf = tree.DecisionTreeClassifier()
```
Then fit the data
```python
clf = clf.fit(features, labels)
```
This method prect the label for a fruit of 160 gram and bumpy texture. The prediction was an orange !!
```python
expected_label = clf.predict([[160, 0]])
```

The instructor explains that this program is intended to **classify** a piece of fruit. We can then say that it is a classification program. Classification is one of the many machine learning algorithms that are used to classify objects from others. Classification is in the category of learning algorithms called **supervised**. In this category there is a response variable for each observation of features (target variables are ofter referred to as labels or classes). For the fruit example, for a given weight and texture of the fruit, there is an associated target variables. JB points out that during supervised learning the classify is trained then used to make the predict future observations. To train the algorithm we feed the *training data* to the algorithm. The traininng data set is made of a list of feature vectors and a list of labels. 
![test](http://api.ning.com/files/-ByhuHJ6vtKmMhYH1DvoD5L2g5KxyMI4xifmn4lNOAssyWwJg9LS4*aLzWMHmmSKu3pWI5dJjBzhnmcrhJEUeEvaTT-3x07J/01_supervised_learning.png)
After the algorithm has been trained, we feed it with the testing data set. The image above explain the process of supervised learning [credit: Kaggle.com]. 
In order to evaluate the learning of the machine, we compute the level of accuracy or knowledge representation.
Other supervised learning algorithms include regression, naive Bayes, support vector machines, decisions trees
, ...

We can summary the machine learning application process into the folling steps and each of the steps requires some sort of computer programming: 

1. Collect the data
2. Prepare the data to match the format accepted by the classifier
3. Analyze the data and split the data into training and testing set
4. Train the classifier using the training data set
5. Test the classifier and evaluate its level of accuracy. 
6. Use the classifier. 

### Question:
1. Can you think of the reason that the data has to be split into training and testing sets ?

In [1]:
from sklearn import tree
features = [[140, 1], [130, 1], [150, 0], [170, 0]] # Bumpy = 0, Smooth = 1
labels = [0, 0, 1, 1] # Apple = 0, Orange = 1
clf = tree.DecisionTreeClassifier()
clf = clf.fit(features, labels)
print (clf.predict([[160, 0]])) #It should print [1]

[1]

## Homework 1

The Auto-MPG [data](http://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.names) is used in many machine learning classes around the country. We care going to use this dataset to perform a a decision tree classification. I have created a python data frame and saved it as [cars.pkl](/data/cars.pkl). This is the code I used for the process

```python
import pandas as pd
import rpy2
%load_ext rpy2.ipython
%%R
cars = read.table("http://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.data")
colnames(cars) <- c("mpg", "cylinders","displacement","horsepower","weight","acceleration","model year","origin", "car name")
%R -o cars
cars.to_pickle('cars.pkl')
```

Let use load the data in the program and view the first five observations as well as the descriptive statistics of the data.
We can see that there are 389 observations.

In [2]:
from IPython.core.display import display
import pandas as pd
cars = pd.read_pickle('cars.pkl')
display(cars.head())
display(cars.describe().T)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
1,18,8,307,130.0,3504,12.0,70,1,chevrolet chevelle malibu
2,15,8,350,165.0,3693,11.5,70,1,buick skylark 320
3,18,8,318,150.0,3436,11.0,70,1,plymouth satellite
4,16,8,304,150.0,3433,12.0,70,1,amc rebel sst
5,17,8,302,140.0,3449,10.5,70,1,ford torino

,count,mean,std,min,25%,50%,75%,max
mpg,398,23.514573,7.815984,9,17.500,23.0,29.000,46.6
cylinders,398,5.454774,1.701004,3,4.000,4.0,8.000,8.0
displacement,398,193.425879,104.269838,68,104.250,148.5,262.000,455.0
weight,398,2970.424623,846.841774,1613,2223.750,2803.5,3608.000,5140.0
acceleration,398,15.568090,2.757689,8,13.825,15.5,17.175,24.8
model year,398,76.010050,3.697627,70,73.000,76.0,79.000,82.0
origin,398,1.572864,0.802055,1,1.000,1.0,2.000,3.0

we can separe the features from the target values using the following line of code

In [3]:
head_obs = cars.ix[:,:'origin'].head() # heah() function allows to display to top 5 values
display(head_obs)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin
1,18,8,307,130.0,3504,12.0,70,1
2,15,8,350,165.0,3693,11.5,70,1
3,18,8,318,150.0,3436,11.0,70,1
4,16,8,304,150.0,3433,12.0,70,1
5,17,8,302,140.0,3449,10.5,70,1

We can get the first 10 rows of the data and convert them to a list of list. Notice that we are no longer using `head()` but we adopting slicing row 0 to 10 and all the columns before *origin*.

In [4]:
head_obs_lst = cars.ix[0:10,:'origin'].values.tolist()
display(head_obs_lst)

[[18.0, 8, 307.0, '130.0', 3504.0, 12.0, 70, 1],
 [15.0, 8, 350.0, '165.0', 3693.0, 11.5, 70, 1],
 [18.0, 8, 318.0, '150.0', 3436.0, 11.0, 70, 1],
 [16.0, 8, 304.0, '150.0', 3433.0, 12.0, 70, 1],
 [17.0, 8, 302.0, '140.0', 3449.0, 10.5, 70, 1],
 [15.0, 8, 429.0, '198.0', 4341.0, 10.0, 70, 1],
 [14.0, 8, 454.0, '220.0', 4354.0, 9.0, 70, 1],
 [14.0, 8, 440.0, '215.0', 4312.0, 8.5, 70, 1],
 [14.0, 8, 455.0, '225.0', 4425.0, 10.0, 70, 1],
 [15.0, 8, 390.0, '190.0', 3850.0, 8.5, 70, 1]]

We can head the labels for the first 10 rows as a list using the following line of code

In [5]:
labels = cars.ix[0:10,'car name':].values.tolist()
display(labels)

[['chevrolet chevelle malibu'],
 ['buick skylark 320'],
 ['plymouth satellite'],
 ['amc rebel sst'],
 ['ford torino'],
 ['ford galaxie 500'],
 ['chevrolet impala'],
 ['plymouth fury iii'],
 ['pontiac catalina'],
 ['amc ambassador dpl']]

The exercise for you to split this car dataset into training set and testing set. You can try to code the separation of 70/30 using array slicing or you can refer to the [sklearn.cross_validation.train_test_split](http://scikit-learn.org/stable/modules/generated/sklearn.cross_validation.train_test_split.html) function. 

We are going to classify the cars **MPG** based on cylinders, displacement, horsepower, weight, acceleration, model year and origin

After you have splitted the data, use the train a decision tree and test it using the testing data. What is the accuracy of the model ?

## Reading 
1. Read chapter 2 of [ESL](http://statweb.stanford.edu/~tibs/ElemStatLearn/)
2. Take a look at this [ressource](http://blog.kaggle.com/2015/04/22/scikit-learn-video-3-machine-learning-first-steps-with-the-iris-dataset/)